# Redshift-API-Demo
FÃ¼r die Nutzung sind die Zugangsdaten (User+Password), Host-Adresse und Datenbankname notwendig.

## Imports

In [10]:
import pandas as pd
from sqlalchemy import create_engine

## SQLAlchemy Engine 
Verbindungsobjekt zur Datenbank. Ich habe eine Datenbank "summerschool2022" angelegt. Innerhalb der Datenbank gibt es 6 Schema:

- public (default schema)
- team1
- team2
- team3
- team4
- team5

In [19]:
redshift = create_engine("redshift+redshift_connector://awsuser:Heute0000@redshift-cluster-1.c2yh8v1apkos.us-east-2.redshift.amazonaws.com/summerschool2022")

## Einlesen der Daten in Pandas DataFrame

Zu Demonstrationszwecken habe ich in unserem Schema (team5) eine Testtabelle team5.test angelegt:

In [27]:
data = pd.read_sql("SELECT * FROM team5.test;", redshift, index_col="id")
data

       name
id
1     Karin
2    Fabian
3   Dominik
4    Lorenz